@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body {
  color: #9E1337;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  background-color: #fffdf9;
}
p,
p:last-child {
  margin: .3em 0 .8em;
}
a,
a:link,
a:hover {
  color: inherit;
  text-decoration: underline;
}
img {
  max-width: 100%;
}
.content li {
  margin-top: .5em;
  margin-bottom: .5em;
}
table p,
table p:last-child {
  margin-top: .7em;
}
table tr {
  vertical-align: top;
  border-bottom: 1px solid #9E1337;
}
table tr td {
  padding: 4px .3em 3px;
}
table tr td:first-child {
  padding-left: 0;
}
table tr td:last-child {
  text-align: right;
  padding-right: 0;
}
table tr td:first-child:last-child {
  text-align: left;
}
table tr:last-child {
  border-bottom: none;
}
h1 {
  color: #9E1337;
  font-weight: bold;
  font-size: 26px;
}
h2,
.region-content h2.block-title {
  color: #F7921E;
  font-weight: bold;
  font-size: 25px;
}
h2.block-title {
  color: #9E1337;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: .3em;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: .3em;
  margin-top: 1.1em;
}
article {
  margin: 2em 0 2em;
}
.btn-primary,
a.btn-primary,
a.btn-primary:link {
  background-color: #9E1337;
  border: 1px solid #ccc;
  text-decoration: none;
  color: white;
}
.btn-primary:hover {
  background-color: #F7921E;
  border-color: transparent;
}
#regensburg {
  color: #F7921E;
  font-weight: bold;
  font-size: 18px;
}
#block-frau {
  text-align: center;
  margin-top: 20px;
}
#block-frau img {
  width: 50%;
}
@media (max-width: 767px) {
  #block-frau {
    display: none;
  }
}
.view-programm-download {
  margin-bottom: 3em;
}
.view-programm-download .views-field-field-bild img {
  max-width: 120px;
  margin: auto;
}
.view-programm-download .file span {
  border: none;
  background: none;
  color: #9E1337;
}
.view-programm-download .views-row {
  margin-bottom: 1em;
}
.main-container > .row > .col-sm-9 {
  float: right;
}
.main-container > .row > .col-sm-9 + aside {
  float: right;
}
#block-views-block-oeffnungszeiten-block-block-1 table {
  width: 100%;
}
@media (min-width: 768px) {
  #block-views-block-oeffnungszeiten-block-block-1 a,
  #block-views-block-oeffnungszeiten-block-block-1 a:link {
    text-decoration: none;
  }
  #block-views-block-oeffnungszeiten-block-block-1 a:hover {
    text-decoration: underline;
  }
}
.field--name-field-beschreibung {
  background-color: #FEEEDE;
  padding: 1em;
  margin-bottom: 27px;
  *zoom: 1;
}
.field--name-field-beschreibung:before,
.field--name-field-beschreibung:after {
  display: table;
  line-height: 0;
  content: "";
}
.field--name-field-beschreibung:after {
  clear: both;
}
#fgz-header a,
#fgz-header a:link {
  text-decoration: none;
}
#fgz-header .logo {
  display: block;
  margin-top: 23px;
}
#fgz-header .logo + div {
  text-align: center;
}
#fgz-header .logo img {
  box-sizing: content-box;
  width: 76%;
  display: block;
  margin: auto;
  max-width: 205px;
}
#fgz-header .navbar-brand {
  height: auto;
  padding: 0;
  line-height: 0.8;
  text-decoration: none;
  font-size: 54px;
  margin-top: 14px;
}
@media (min-width: 1200px) {
  #fgz-header .navbar-brand {
    letter-spacing: 4.1px;
  }
}
@media (max-width: 1199px) {
  #fgz-header .navbar-brand {
    font-size: 52px;
  }
}
@media (max-width: 991px) {
  #fgz-header .navbar-brand {
    font-size: 38px;
  }
}
#fgz-header .navbar-text {
  font-size: 28px;
  margin: 0;
}
@media (min-width: 1200px) {
  #fgz-header .navbar-text {
    letter-spacing: 1.5px;
  }
}
@media (max-width: 1199px) {
  #fgz-header .navbar-text {
    font-size: 25px;
    letter-spacing: .4px;
  }
}
@media (max-width: 991px) {
  #fgz-header .navbar-text {
    line-height: 1em;
    margin-top: 10px;
  }
}
.navbar-default {
  background: none;
  border: none;
  margin-top: 22px;
  float: right;
}
@media (max-width: 767px) {
  .navbar-default {
    width: 100%;
  }
}
.navbar-default .navbar-nav > li > a {
  color: #9E1337;
  letter-spacing: 1px;
  font-size: 1.1em;
}
.navbar-default .navbar-nav .active > a,
.navbar-default .navbar-nav .open > a,
.navbar-default .navbar-nav a:hover {
  background: none !important;
  font-weight: bold;
  color: #9E1337 !important;
}
.navbar-default ul.dropdown-menu {
  border: none;
  box-shadow: none;
  background: #FEEEDE;
  border-radius: 4px;
}
.navbar-default ul.dropdown-menu a {
  text-decoration: none;
  color: #9E1337;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav {
    text-align: justify;
    display: block;
    line-height: 0;
    width: 100%;
  }
  .navbar-default .navbar-nav li {
    display: inline-block;
    float: none;
  }
  .navbar-default .navbar-nav:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
  }
  .navbar-default ul.dropdown-menu::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FEEEDE;
    position: absolute;
    top: -10px;
    left: 25%;
  }
}
.navbar-default .anrufen,
.navbar-default .nav-btn-beschriftg {
  float: left;
  line-height: 50px;
  display: none;
}
@media (max-width: 767px) {
  .navbar-default .anrufen,
  .navbar-default .nav-btn-beschriftg {
    display: block;
  }
}
.navbar-default .anrufen img,
.navbar-default .nav-btn-beschriftg img {
  height: 40px;
  padding-left: 15px;
}
.navbar-default .nav-btn-beschriftg {
  float: right;
}
.navbar-default .navbar-header {
  background-color: #FEEEDE;
}
.region-ganz-oben {
  float: right;
  margin-bottom: 8px;
  margin: 7px 15px 0;
}
.region-ganz-oben >* {
  display: inline-block;
  vertical-align: middle;
}
.region-ganz-oben >.search-block-form {
  width: 200px;
  height: 34px;
  overflow: hidden;
}
.region-ganz-oben p {
  margin: 0;
}
#block-impressumagb a {
  margin: 0 1em 0;
  text-decoration: none;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background: #9E1337;
  border-color: #9E1337;
}
.pagination > li > a {
  color: #9E1337;
}
#backtotop {
  height: 70px;
  width: 70px;
  border-radius: 70px/2;
  background: #9E1337;
  line-height: 84px;
  text-align: center;
  font-size: 70px;
  color: white;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
#backtotop:hover {
  background: #F7921E;
}
#block-kacheln li {
  position: relative;
  padding: 15px;
}
#block-kacheln li a {
  background-color: #FEEEDE;
  font-size: larger;
  line-height: 140px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}
#block-kacheln li a:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.block-views-blockalle-dozenten-und-referenten-block-1 {
  margin: -2em 0 2em;
}
.path-frontpage .page-header {
  display: none;
}
.path-frontpage .page-header + article {
  margin-top: 0;
}
.startseitenbild {
  background-size: cover;
  background-position: 0 60%;
  position: relative;
  height: 350px;
}
.startseitenbild p {
  float: right;
  clear: both;
  background: rgba(255,255,255,0.7);
  padding: .1em .5em;
  font-size: larger;
}
.startseitenbild div {
  top: 50%;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
}
#block-views-block-startseite-unter-termine-block-1 {
  margin: 1em 0 2em;
}
.view-raeume h2,
.view-literatur h2 {
  margin-top: 0;
}
.view-veranstaltungen .view-footer {
  margin-top: 1em;
  text-align: right;
}
.view-veranstaltungen .views-row {
  background-color: #FEEEDE;
  margin-top: 5px;
}
.view-veranstaltungen h3 {
  font-size: 17px;
}
.view-veranstaltungen .view-seiten-die-termine-haben .views-row {
  display: inline-block;
  margin: 0 .5em;
  background: none;
  font-size: smaller;
}
.view-veranstaltungen .form-item-field-beginn-value:first-child {
  display: none;
}
.view-veranstaltungen #views-exposed-form-veranstaltungen-page-1 legend {
  border: none;
}
.view-veranstaltungen .view-filters {
  text-align: right;
  font-size: smaller;
}
.view-veranstaltungen #edit-actions {
  display: none;
}
.veranstaltung-ausklappbar {
  cursor: pointer;
}
.veranstaltung-ausklappbar > div,
.veranstaltung-ausklappbar > h4 {
  display: inline-block;
  padding: .5em;
  margin: 0;
  font-size: inherit;
}
.veranstaltung-ausklappbar > .veranstaltung-rechts {
  float: right;
  height: 0.5em;
}
.veranstaltung-ausklappbar > .veranstaltung-rechts:first-child {
  line-height: 1.6em;
}
.veranstaltung-ausklappbar > .veranstaltung-rechts:first-child .runter {
  display: none;
}
.veranstaltung-ausklappbar.collapsed .veranstaltung-rechts:first-child .runter {
  display: inline;
}
.veranstaltung-ausklappbar.collapsed .veranstaltung-rechts:first-child .hoch {
  display: none;
}
.veranstaltung-klappe {
  border: .5em solid #FEEEDE;
  border-top: 1px solid #9E1337;
}
@media (min-width: 992px) {
  .contact-message-anmelden-form {
    float: right;
    width: 60%;
    margin-top: 2em;
    padding-left: 15px;
  }
  .contact-message-anmelden-form + article {
    display: inline-block;
    width: 40%;
    padding-right: 15px;
  }
}
